<app-bread-crumb
  [itens]="[{texto: 'Lançamentos', link: '/lancamentos'},{texto: pageTitle}]"
></app-bread-crumb>


<app-page-header
  [page-title]="pageTitle"
  button-text="<< Voltar"
  button-link="/lancamentos"
  button-class="btn-light"
></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  
  <div class="card">
    <div class="card-header">
      Informações sobre o lançamento
    </div>
    <div class="card-body">
      <div class="form-row">

        <!-- Tipo -->
         <div class="form-group col-md-2">
          <label for="tipo">Tipo</label>
          <select name="tipo" id="tipo" formControlName="tipo" class="form-control">
            <option *ngFor="let opcao of tipoOpcoes" [value]="opcao.valor">{{ opcao.texto }}</option>
          </select>

          <app-form-field-error [form-control]="resourceForm.get('tipo')"></app-form-field-error>
        </div>

        <!-- Nome -->
        <div class="form-group col-md-5">
          <label for="nome">Lançamento</label>
          <input type="text" class="form-control" id="nome" formControlName="nome">

          <app-form-field-error [form-control]="resourceForm.get('nome')"></app-form-field-error>
        </div>

      <!-- Valor -->
      <div class="form-group col-md-3">
          <label for="valor">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input [imask]="imaskConfig" type="text" class="form-control text-right" id="valor" formControlName="valor" >
          </div>         

          <app-form-field-error [form-control]="resourceForm.get('valor')"></app-form-field-error>
      </div>

      <!-- Data -->
      <div class="form-group col-md-2">
          <label for="data">Data</label>
          <p-calendar 
            id="data" 
            formControlName="data"
            inputStyleClass="form-control"
            dataType="string"
            dateFormat="dd/mm/yy"
            [locale]="ptBR"
            [showButtonBar]="true"></p-calendar>
          
          <app-form-field-error [form-control]="resourceForm.get('data')"></app-form-field-error>
      </div>
    </div>

    <div class="form-row">
      <!-- pago -->
      <div class="form-group col-md-2">
          <label for="pago">Pago</label>
          <div class="btn-group">
            <label (click)="resourceForm.get('pago').setValue(true)" 
              [class.active]="resourceForm.get('pago').value == true" 
              class="btn btn-outline-info" 
              style="cursor: pointer;">Pago</label>
            <label (click)="resourceForm.get('pago').setValue(false)"
              [class.active]="resourceForm.get('pago').value == false" 
              class="btn btn-outline-info"
              style="cursor: pointer;">Pendente</label>
          </div>
          
          <app-form-field-error [form-control]="resourceForm.get('pago')"></app-form-field-error>
      </div>

      <!-- categoriaId -->
      <div class="form-group col-md-2">
        <label for="categoriaId">Categoria</label>
        <select name="categoriaId" id="categoriaId" formControlName="categoriaId" class="form-control">
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nome}}</option>
        </select>

        <app-form-field-error [form-control]="resourceForm.get('categoriaId')"></app-form-field-error>
      </div>
      <div class="form-group col-md-8">
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" id="descricao" formControlName="descricao">
        <app-form-field-error [form-control]="resourceForm.get('descricao')"></app-form-field-error>
      </div>
    </div>
    </div>
  </div>
  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>
  
  <button [disabled]="submittingForm || resourceForm.invalid" 
          type="submit" 
          class="btn btn-primary btn-lg float-right mt-3">Salvar</button>

</form>